* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding-top: 15rem;
}

.container {
    display: flex;
    justify-content: center;
}

.slide {
    width: 30rem;
    height: 20rem;
    object-fit: contain;
    background: #dddddd;
    display: none;
}

.active {
    display: block;
}

.thumb {
    width: 10rem;
    height: 6rem;
    object-fit: cover;
    filter: brightness(20%);
}

.seen {
    filter: brightness(100%);
}